* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

body {
}


header {
    background-image: url("Assets/banner/home-banner.jpg.webp");
    height: 42vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header > section {
    height: 78vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav {
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.52);
    display: flex;
    padding: 0 8%;
    align-items: center;
    justify-content: space-between;

}

nav img {
    height: 3vh;
}

.elementosHeader {

    width: 800px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elementosHeader ul {
    width: 80%;
}

.elementosHeader li {
    display: inline;
    min-width: 15%;
    margin-right: 40px;

}


.elementosHeader a {
    text-decoration: none;
    color: white;
}



.botao {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 4vh;
    width: auto;
    padding: 0 2%;
    color: black;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 600;
}

.divCima {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divCima h1{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 1%;
}

.divCima h4 {
    font-size: 14px;
    font-weight: 300;
}

.divCima i {
    margin: 0 10px;
}




.sectionBranca {
    width: 100%;
    display: flex;
    background-color: #f9f9ff;
    padding: 0% 13%;
    padding-top: 6%;
    flex-direction: column;
    align-items: center;
}

.sectionBranca h1 {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.96);
    font-weight: 600;
    margin-bottom: 1%;
}

.sectionBranca h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.96);
    font-weight: 600;
    margin-bottom: 7%;
}

.sectionBranca h6 {
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.67);
    transition: 0.3s;
}

.contact {
    width: 82%;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contact iframe {
    width: 100%;
    margin-bottom: 7%;
}

.divForm {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}

.divInfo{
    width: 100%;
    display: flex;
    margin-bottom: 8%;
}

.divInfo > div {
    margin-left: 10%;
}

.divInfo h2{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.divInfo h3{
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
}




.formularios {
    background-color: rgba(0, 255, 255, 0.11);
    width: 860px;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
}

.form {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.15);
}




.botaoInstagram {
    background-color: #fcdc00;
    height: 6vh;
    line-height: 4;
    margin-bottom: 6%;
}


.imagensFinal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-color: #f9f9ff;
    margin-top: auto;
}





footer {
    width: 100%;
    height: 47vh;
    padding: 5% 0;
    background-color: #04091e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer h1 {
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-bottom: 35px;
}

footer h6 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.67);
    font-weight: 300;
    margin-bottom: 8%;

}

footer > div {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer aside {
    width: 400px;
}

footer i {
    display: inline;
    margin: 0 5px;
}
.newsletter {
    margin-right: 2%;
}

.newsletter h6{
    margin-bottom: 4%;
}

.inputFooter {
    display: flex;
    width: 100%;
    position: relative;
}

.inputFooter > input {
    height: 40px;
    width: 92%;
    font-size: 14px;
    padding: 0 10px;
    border: none;
    outline: none;
    color: black;
}

.inputFooter > button {
    height: 40px;
    width: 8%;
    font-size: 14px;
    background-color: #fcdc00;
    color: black;
    border: none;
    cursor: pointer;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
}

.inputFooter i {
    text-align: center;
    color: black;
}







